<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <title>Document</title>
    <style> 
    </style>
</head> 
<body>
    <div id="navbar">
    {% include 'nav.html' %}
    </div>  
    <div class="container">
        <div class="mid">
            <div id="contentin">
              <p>&nbsp;</p>
              <p>&nbsp;</p>
      
              <table border="0" cellspacing="0" cellpadding="10" width="100%">
                <tbody><tr bgcolor="#0F2C5D"><th align="center" colspan="3" style="color: white;"><strong>ADMISSIONS OFFICE</strong></th></tr>
                <tr>
                  <td valign="top" align="center">
                    <b>B.Tech</b><br>
                    Mobile: 7567075527, 7567076308, 9727277833, 7863856698, 7863844199<br>
                    Call: +91 79 23275078/ 82/ 90<br>
                    Email: btechadmission@pdpu.ac.in<br>
                    SPT: <a href="https://www.facebook.com/sptpdeu" target="_blank"><img src="static/facebook.jpeg" width="30" height="30"></a>
                    <a href="https://twitter.com/PdeuOfficial" target="_blank"><img src="static/twitter.png" width="30" height="30"></a>
                    <a href="https://www.instagram.com/sptpdeu/" target="_blank"><img src="static/instagram.jpeg" width="30" height="30"></a> <a href="https://www.linkedin.com/school/pdpuofficial/?viewAsMember=true" target="_blank"><img src="http://www.pdpu.ac.in/images/linkedin.png" width="30" height="30"></a>
      
                    SOT: <a href="https://www.facebook.com/sotpdeu" target="_blank"><img src="static/facebook.jpeg" width="30" height="30"></a>
                    <a href="https://www.instagram.com/sotpdeu/" target="_blank"><img src="static/instagram.jpeg" width="30" height="30"></a>
                    <a href="https://www.linkedin.com/school/pdpuofficial/?viewAsMember=true" target="_blank"><img src="http://www.pdpu.ac.in/images/linkedin.png" width="30" height="30"></a>
                  </td>
                  <td valign="top" align="center">
                    <b>B.A/ B.B.A/ B.Com</b><br>
                    Call: +91 79 23275240/ 41/ 44<br>
                    Mobile: 09924133225<br>
                    Email: slsadmission@pdpu.ac.in<br>
                    <a href="https://www.facebook.com/slspdeu" target="_blank"><img src="static/facebook.jpeg" width="30" height="30"></a>
                    <a href="https://www.instagram.com/slspdeu/" target="_blank"><img src="static/instagram.jpeg" width="30" height="30"></a>
                  </td>
                  <td valign="top" align="center">
                    <b>B.Sc.</b><br>
                    Email: bscadmission@pdpu.ac.in<br>
                    Mobile: +91 9909010918<br>
                    <b>M.Sc.</b><br>
                    Email: admission.msc@pdpu.ac.in<br>
                    Mobile: +91 9909010923<br>
                  </td>
                </tr>
              </tbody></table>
              <table border="0" cellspacing="0" cellpadding="10" width="100%">
                <tbody><tr>
                  <td valign="top" align="center">
                    <b>Management</b><br>
                    Call: +91 79 23275109/ 19<br>
                    Email: 
                    admissions@spm.pdpu.ac.in<br>
                    <a href="http://facebook.com/spmpdpu" target="_blank"><img src="static/facebook.jpeg" width="30" height="30"></a>
                    <a href="https://twitter.com/PdeuOfficial" target="_blank"><img src="static/twitter.png" width="30" height="30"></a>
                  </td>
                  <td valign="top" align="center">
                    <b>M.Tech</b><br>
                  
                    Email: admission.mtech@pdpu.ac.in<br>
                     SPT: <a href="https://www.facebook.com/sptpdeu" target="_blank"><img src="static/facebook.jpeg" width="30" height="30"></a>
                    <a href="https://twitter.com/sptpdpu" target="_blank"><img src="static/twitter.png" width="30" height="30"></a>
                    <a href="https://www.instagram.com/sptpdeu/" target="_blank"><img src="static/instagram.jpeg" width="30" height="30"></a> <a href="https://www.linkedin.com/school/pdpuofficial/?viewAsMember=true" target="_blank"><img src="http://www.pdpu.ac.in/images/linkedin.png" width="30" height="30"></a>
      
                    SOT: <a href="https://www.facebook.com/sotpdeu" target="_blank"><img src="static/facebook.jpeg" width="30" height="30"></a>
                    <a href="https://www.instagram.com/sptpdeu/" target="_blank"><img src="static/instagram.jpeg" width="30" height="30"></a>
                    <a href="https://www.linkedin.com/school/pdpuofficial/?viewAsMember=true" target="_blank"><img src="http://www.pdpu.ac.in/images/linkedin.png" width="30" height="30"></a>
                  </td>
                  <td valign="top" align="center">
                    <b>Ph.D</b><br>
                    Management: +91 79 23275102 / 5126<br>
                    Engineering: +91 79 23275409 / 5069<br>
                    Liberal Studies : +91 79 23275244 / 5236
                  </td>
                </tr>
              </tbody></table>
              <p>&nbsp;</p>
      
              <table border="0" cellspacing="0" cellpadding="10" width="100%">
                <tbody><tr bgcolor="#0F2C5D">
                  <th align="center" style="color: white;" ><strong>INTERNATIONAL ADMISSIONS /<br>OFFICE OF INTERNATIONAL RELATIONS</strong></th>
                  <th colspan="2" style="color: white;" align="center"><strong>CAREER DEVELOPMENT CELL</strong></th>
                  <th align="center" style="color: white;"><strong>OFFICE OF RESEARCH AND<br> SPONSORED PROGRAMS (ORSP)</strong></th>
                </tr>
                <tr>
                  <td valign="top" align="center">
                    Call: +91 79 23275208/ 09/ 88<br>
                    Mobile: 9909916219,9510657617,<br>9426650990<br>
                    Email: intladmission@pdpu.ac.in,<br> oir@pdpu.ac.in<br>
                    <a href="https://www.facebook.com/oirpdeu/" target="_blank"><img src="static/facebook.jpeg" width="30" height="30"></a>
                    <a href="https://twitter.com/OirPdeu" target="_blank"><img src="static/twitter.png" width="30" height="30"></a>
                    <a href="https://www.instagram.com/oirpdeu/" target="_blank"><img src="static/instagram.jpeg" width="30" height="30"></a>
                  </td>
                  <td valign="top" align="center">
                    <b>For Engineering</b><br>
                    Mobile No: 9825326191<br>
                    Email: centralplacements@pdpu.ac.in
                  </td>
                  <td valign="top" align="center">
                    <b>For Management</b><br>
                    Call: +91 9909428019<br>
                    Email: placements@spm.pdpu.ac.in
                  </td>
                  <td valign="top" align="center">
                    Call: +91 79 23275308/ 09<br>
                    Email: orsp@pdpu.ac.in
                  </td>
                </tr>
              </tbody></table>
              <p>&nbsp;</p>
      
              <table border="0" cellspacing="0" cellpadding="10" width="100%">
                <tbody><tr bgcolor="#0F2C5D">
                  <th align="center" style="color: white;"><strong>OFFICE OF STUDENT ACTIVITIES, INVOLVEMENT &amp; LEADERSHIP (OSAIL)</strong></th>
                  <th align="center" style="color: white;"><strong>CENTRE FOR CONTINUING EDUCATION</strong></th>
                </tr>
                <tr>
                  <td valign="top" align="center">
                    Call: +91 79 23275052, 23275058<br>
                    Email: osalpdpu@gmail.com<br>
                    <a href="https://www.facebook.com/PDPUSAIL/?ref=aymt_homepage_panel" target="_blank"><img src="static\facebook.jpeg" width="30" height="30"></a>
                    <a href="https://www.instagram.com/osail_pdpu/" target="_blank"><img src="static/instagram.jpeg" width="30" height="30"></a>
                  </td>
                  <td valign="top" align="center">
                    Call: +91 79 23275277<br>
                    Email: cce@pdpu.ac.in
                  </td>
                </tr>
              </tbody></table>
              <p>&nbsp;</p>
      
              <table border="0" cellspacing="0" cellpadding="10" width="100%">
                <tbody><tr bgcolor="#0F2C5D">
                  <th align="center" colspan="3" style="color: white;"><strong>FACILITY MANAGEMENT</strong></th>
                </tr>
                <tr>
                  <td valign="top" align="center"><b>Campus</b><br>
                    Email: campus@pdpu.ac.in
                  </td>
                  <td valign="top" align="center"><b>Hostel</b><br>
                    Email: hostel@pdpu.ac.in
                  </td>
                  <td valign="top" align="center"><b>Canteen</b><br>
                    Email: canteen@pdpu.ac.in
                  </td>
                </tr>
              </tbody></table>
              <p>&nbsp;</p>
              <p>&nbsp;</p>
       </div>
          </div>
    </div>
    {% include 'footer.html' %}
</body>
</html>